<style>
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: left;
  background-color: #FFFFFF;
}
</style>
<br><br><br><br>
<section class="blog-post-area section-margin mt-4">
    <div class="container">
        <div class="row">
                @{
                    var detail = ViewBag.detail;
                    var full = ViewBag.full;
                    foreach(var i in detail)
                    {
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1">
                                        <img src="https://pngimage.net/wp-content/uploads/2018/06/inc-logo-png-4.png" style="width: 50px;height:50px;border-radius:50%;">
                                    </div>
                                    <div class="col-10">
                                        <medium><b>@i.UserName</b> / <small class="text-muted">@i.CreatedAt.ToString("dd-MM-yyyy H:mm")</small></medium>
                                        <br>
                                        <small class="text-muted">@i.Category</small><br>
                                        <medium class="text-muted">@ViewBag.commentcount replies</medium>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">
                            <h4><b>@i.Title</b></h4>
                            <div class="text-center">
                                <img src="@i.Image" style="width:600px;height:400px;">
                            </div><br>
                            <p>@i.Body</p>
                            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" id="@i.Id" data-threadid="@i.Id" onclick="javascript:Collapse(this)">Simple collapsible</button>

                        </div>
                        <br>
                    }
                    <div id="demo" class="collapse">
                        @foreach(var i in full)
                        {
                        <div class="card">
                          @if(@i.Image!=null)
                          {
                            <div class="text-center">
                                <img src="@i.Image" style="width:600px;height:400px;">
                            </div><br>
                            <p>@i.Body</p>
                          }else{
                            <p>@i.Body</p>
                          }
                        </div>
                        }
                    </div>
                }
        </div>
    </div>
    <br>
    @{
      var comments = ViewBag.comments;
      foreach(var i in comments)
      {
        <div class="card">
          <p>@i.User_Name</p>
          <p>@i.Comments</p>
        </div>
        <br>
      }
    }
</section>

