<style>
    * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #FFFFFF;
}
</style>
<br><br><br><br>
<section class="blog-post-area section-margin mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 sidebar-widgets">
              <div class="widget-wrap">
                <div class="single-sidebar-widget newsletter-widget">
                  <h4 class="single-sidebar-widget__title">What Do You Want ?</h4>
                  <div class="form-group mt-30">
                    <div class="col-autos">
                      <select class="form-control" id="select">
                          <option value="By DateTime">By DateTime</option>
                          <option value="By Title">By Title</option>
                          <option value="By Status">By Status</option>
                      </select>
                      <br>
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter keyword" onfocus="this.placeholder = ''"
                        onblur="this.placeholder = 'Enter email'">
                    </div>
                  </div>
                  <button id="searchsort" class="bbtns d-block mt-20 w-100" onclick="javascript:SearchSortButton(this)">Search</button>
                </div>


                <div class="single-sidebar-widget post-category-widget">
                  <h4 class="single-sidebar-widget__title">Category</h4>
                  <ul class="cat-list mt-20">
                  @{
                    var Category = ViewBag.category;
                    foreach(var i in Category)
                    {
                      <li>
                        <input id="cat" value="@ViewBag.filter" hidden>
                        <a href="/Home/Index?filter=@i" class="d-flex justify-content-between">
                          <p>@i</p>
                        </a>
                      </li>
                    }
                  }
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
                @{
                    var threads = ViewBag.threads;
                    foreach(var i in threads)
                    {
                        <div class="card">
                            <div class="container">
                                <div class="row">
                                    <div class="col-10">
                                        <small><b>@i.UserName</b> / <small class="text-muted">@i.CreatedAt.ToString("dd-MM-yyyy H:mm")</small>
                                        &nbsp&nbsp&nbsp
                                        @if(@i.Status=="Lock")
                                        {
                                          <img src="https://image.flaticon.com/icons/svg/483/483408.svg" style="width: 10px;height:10px;">
                                        }else
                                        {
                                          <img src="https://image.flaticon.com/icons/svg/597/597356.svg" style="width: 10px;height:10px;">
                                        }
                                        </small>
                                        <h4 onclick="location.href='/Home/Detail?id=@i.Id'">@i.Title</h4>
                                        <small>@i.Category</small><br>
                                    </div>
                                    <div class="col-2">
                                        <div class="text-right">
                                            <img src="@i.Image" style="width: 100px;height:100px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    }
                }
            </div>
        </div>
    </div>
</section>
<div class="bio-info collapse" id="profile" aria-labelledby="headingPage" data-parent="#accordionSidebar">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img style="border-radius:50%;width:250px;height:300px;" alt="image" />
						</div>			
					</div>
				</div>	
			</div>
			<div class="col-md-6">
				<div class="bio-content">
					<h1>Hi there, I'm </h1>
					<h6>Email : </h6>
					<h6>Gender : </h6>
					<h6>Phone : </h6>
					<h6>Birth  Date :</h6>
					<h6>Birth Place :</h6>
				</div>
			</div>
		</div>	
</div>
<script>
    function SearchSortButton(btn)
    {
      var x=document.getElementById("cat").value;
      if(x!=null || x!="")
      {
        var filter = x;
        var sort = document.getElementById("select").value;
        var search = document.getElementById("inlineFormInputGroup").value;
        location.href='/Home/Index?search='+search+'&sort='+sort+'&filter='+filter;
        
      }else
      {
        var sort = document.getElementById("select").value;
        var search = document.getElementById("inlineFormInputGroup").value;
        location.href='/Home/Index?search='+search+'&sort='+sort;
      }
    }
</script>
